@import "../../global";

.menu{
  width: 300px;
  height: 100vh;
  background-color: #020a13;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;

  @include mobile{
    width: 200px;
    right: -200px;
  }

  ul{
    margin: 0;
    padding:0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    //color: white;
    width: 60%;

    @include mobile{
      font-size: 25px;
    }

    li{
      margin-bottom: 25px;
      a{
        //color: #354e67;
        color: $mainTxtColor;
        font-size: inherit;
        text-decoration: none;

        &:hover{
          //font-weight: 500;
          color: #FD1D1D !important;
          transition: all 0.3s ease-in-out;
        }
      }

    }
  }
}

.active{
  right: 0;
}