@import "../../global";

.topBar {
  background-color: #000000;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  color: white;
  overflow: hidden;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        @include mobile{
          display: none;
        }

        .icon {
          font-size: 18px;
          margin-right: 5px;
          //color: lightsalmon;
        }

        .span{
          font-size: 15px;
          font-weight: 500;
        }
      }
    }

    .right{

      .hamburger{
        position: relative;
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        span{
          width: 100%;
          height: 3px;
          border-radius: 5px;
          background-color: $mainColor;
          position: absolute;
          transition: all 0.5s ease-in-out;
          &:first-child {
            top: 0;
          }
          &:nth-child(2),&:nth-child(3) {
            top: 11px;
          }
          &:last-child {
            top: 22px;
          }
        }
      }
    }
  }
}

.active{
  background-color: $mainColor;
  color: white;

  .right {
    .hamburger {

      span {
        &:first-child {
          width: 0;
        }

      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: white;
      }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          background-color: white;
        }

        &:last-child {
          width: 0;
        }
      }
    }
  }
}