@import "../../global";

.about{
  background-color: white;
  display: flex;
  overflow: hidden;
  //background-color: #1a1a1a;
  background-color: #101820FF;
  //color: #E0943B;
  color: #F2AA4CFF;
  @include mobile{
    flex-direction: column;
  }

  h3{
    font-weight: 900;
  }
  .icon{
    font-size: 40px;

    @include mobile{
      font-size: 20px;
      margin-top: 5px;
      //display: none;
    }
  }
  .left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #fff4f4;
    //background-color: #fae0da;
    //background-color: #1a1a1a;
    //color: #E0943B;


    &:hover{
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
      -webkit-filter: invert(0.8);

      p{
        font-weight: normal;
      }

    }

    h3{
      //color: #E0943B;
      font-size: 35px;

      @include mobile{
        font-size: 20px;
      }

    }
    p{
      margin-top: 20px;
      text-align: justify;
      width: 70%;
      font-weight: 300;
      font-size: 17px;
      line-height: 1.6;

      @include mobile{
        font-size: 13px;
        line-height: 1.5;
      }
    }
  }

  .middle{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #e6dcdc;
    //background-color: #fdefec;

    @include mobile{
      flex: 0.8;
    }

    h3{
      //color: black;
      font-size: 35px;

      @include mobile{
        font-size: 20px;
      }

    }

    .university{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h4{
        @include mobile{
          font-size: 14px;
        }
      }

      p{
        @include mobile{
          font-size: 12px;
        }
      }
      span{
        //color: #5c5b5b;
        opacity: 0.6;
      }
    }

    &:hover{
      transition: all 0.2s ease-in-out;
      //transform: scale(1.1);
      //-webkit-filter: invert(0.7);
    }
  }

  .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #fae0da;

    h3{
      //color: black;
      font-size: 35px;

      @include mobile{
        font-size: 20px;
      }
    }

    .fav{
      margin-top: 20px;

      ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
      }
      li{
        font-size: 17px;
        font-weight: 300;

        @include mobile{
          font-size: 14px;
        }

      }
    }
    &:hover{
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
      -webkit-filter: invert(0.8);

      li{
        font-weight: normal;
      }
    }
  }
}