//$mainColor: #007ea5;
$mainColor: #AA1945;
$mainBgColorOne: #050e17;
$mainBgColorTwo: #101820FF;
$mainTxtColor: #F2AA4CFF;

$width: 768px;
$widthSE: 320px;

@mixin mobile {
  @media (max-width: #{$width} ) {
    @content
  }
}

@mixin mobileSE {
  @media (max-width: #{$widthSE} ) {
    @content
  }
}